@import '../_variables';

body{
  @include body-copy;
}

h1, h2, h3, h4{
  margin: 0;
  &.sub {
    text-align: center;
  }
}

.primary-right-rail {
  @include right-rail-base;

  max-width: 300px;
  margin: 0 auto;

  div.rail-banner {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
  }

  .tease-link { @include tease-link(); }

  .footnotes {
    @include footnotes;
  }

  .race-name{
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    color: #fff;
    padding: 8px;
    text-align: center;
    h3 {
      a {
        color: #fff;
      }
      margin-bottom: 0 !important;
    }
    p {
      margin: 0 !important;
      font-size: 12px;
    }
    margin-bottom: 10px;
  }

  div.container {
    .race-name.gop { background: $widgetRed; }
    .race-name.dem { background: $widgetBlue; }
  }

  p {
    margin: 20px 10px;
  }

  .party-container {

    h3, p {
      margin: 10px;
    }
  }

  table.t-pollster {
    @include pollster-table(); // 10px left/right padding on cells

    .n-votes {
      text-align: right;
    }
  }

  .sparkline {
    display: inline-block;
    height: 1.2rem;
    vertical-align: middle;
  }

  &.future table.t-pollster .n-votes { display: none; }
  &.present table.t-pollster .pollster { display: none; }
}
