@import '../_variables';

body{
  @include body-copy;
}

h1, h2, h3, h4{
  @include header-copy;
  margin: 0;
}

.primary-right-rail {
  @include right-rail-base;
  cursor: pointer; // JS makes the whole thing a link

  max-width: 300px;
  margin: 0 auto;

  div.rail-banner {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
  }

  .tease-link { @include tease-link(); }

  .footnotes {
    @include footnotes;
  }

  div.race-name{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
  }

  div.container {
    .race-name.gop { color: $strongGOP; }
    .race-name.dem { color: $strongDem; }
  }

  p {
    margin: 20px 10px;
  }

  .party-container {
    margin-top: 30px;

    h3, p {
      margin: 10px;
    }
  }

  table.t-pollster {
    @include pollster-table(); // 10px left/right padding on cells

    .n-votes {
      text-align: right;
    }
  }

  .sparkline {
    display: inline-block;
    height: 1.2rem;
    vertical-align: middle;
  }

  &.future table.t-pollster .n-votes { display: none; }
  &.present table.t-pollster .pollster { display: none; }
}
