table.many-races {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 0;
  padding: 0;

  th {
    font-family: $header-font-family;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5rem;
  }

  &>tbody>tr>td {
    border-top: 5px solid white;
    padding: 0;
    vertical-align: top;
  }

  th[data-party-id] { color: white; }
  th[data-party-id=Dem] { background: $widgetBlue; }
  th[data-party-id=GOP] { background: $widgetRed; }
  th[data-party-id]:last-child, td[data-party-id]:last-child {
    border-left: 5px solid white;
  }

  .map {
    text-align: center;
  }

  svg {
    display: inline-block;
    width: 5em;
    height: 8em;
    max-width: 100%;
    max-height: 100%;
  }

  path {
    fill: none;
    stroke: black;
    stroke-width: 10px;
  }

  h3 {
    font: inherit;
    text-transform: none;
    text-align: left;
    padding: .25rem;
  }

  .race {
    display: -webkit-inline-flex;
    display: inline-flex; // inline to stretch in <td>
    -webkit-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      background: white;
      padding: 4px 5px 2px;
      border-top: 5px solid transparent; // gets overridden by party color
      border-bottom: 5px solid transparent; // ditto. Also, collapses with top of next
    }

    td:last-child {
      text-align: right;
    }
  }

  tr.leader td {
    color: white;
    font-weight: bold;
  }

  tr.winner td.candidate::after {
    content: ' ✓';
  }

  .source, .n-precincts-reporting {
    color: $muted;
    font-size: .8rem;
    height: 1.4rem; // If we don't set this, the <td> height isn't enough on Chrome 48
  }

  .linkout {
    height: 1.6rem; // If we don't set this, the <td> height isn't enough on Chrome 48
    -webkit-flex-grow: 1;
    flex-grow: 1;
    line-height: 1rem;
    text-align: center;

    // Put the sole child, a.linkout, at the bottom of the box.
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    &::before {
      display: block;
      content: ' ';
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }

    a {
      display: block;
    }
  }

  .race.no-data a.linkout {
    line-height: 8rem;
    vertical-align: middle;
  }

  td[data-party-id=Dem] .race {
    background: $widgetLightBlue;
    td { border-color: $widgetLightBlue; }
    tr.leader td { background: $widgetBlue; }
  }
  td[data-party-id=GOP] .race {
    background: $widgetLightRed;
    td { border-color: $widgetLightRed; }
    tr.leader td { background: $widgetRed; }
  }
}
