%p.include-unpledged-delegates
  %label
    %input{type: 'checkbox', name: 'include-unpledged-delegates', checked: true}
    Count unpledged delegates
  %a{href: '/2016/primaries/about-delegates'} More info &raquo;
