#scrollfinder
  .dropdown-container#jump-to-race
    %ul.dropdown-inner.nav
      %li.dropdown
        %a.dropdown-toggle{"data-toggle": "dropdown", href: "#", role: "button", "aria-haspopup": "true", "aria-expanded": "false"}
          Jump to…
          %svg.caret{x: "0", y: "0", width: "10", height: "7"}
            %polygon{points: "10,0 5,7 0,0"}
        %ul.dropdown-menu
          %li
            %a{href: "#summary"} Total delegates
          - race_day.races.group_by(&:state_code).each do |state_code, races|
            - races.each_with_index do |race, i|
              %li{class: (i == 0 ? 'first' : 'second')}
                %a{href: "##{race.anchor}"}
                  %span.state-name= race.state_name
                  %span.race-title= race.title_abbr
