.race-map-legend{'data-party-id': party.id}
  .no-results
  .candidate-leads
    .swatch
    .label
      %span.candidate-name
      leads
  .candidate-trails
    .swatch
    .label
      %span.candidate-name
      trails
