.race-map-legend{'data-party-id': party.id}
  .no-results
    .swatch
    .label No precincts reporting
  .candidate-wins
    .swatch
    .label
      %span.candidate-name
      wins
  .candidate-leads
    .swatch
    .label
      %span.candidate-name
      leads
  .candidate-trails
    .swatch
    .label
      %span.candidate-name
      trails
  .candidate-loses
    .swatch
    .label
      %span.candidate-name
      loses
