%ul.race-map-legend
  %li
    .swatch
    .label No precincts reporting
  - race.candidate_races.map(&:candidate).sort_by(&:last_name).each do |candidate|
    %li{'data-candidate': candidate.slug}
      .swatch
        .wins
        .leads
      .label #{candidate.last_name} wins/leads
