$muted: #ccc;
$tableBorderColor: #eee;

$strongDem: #5c6b95;
$weakDem: #9facd0;
$strongGOP: #bc5c5c;
$weakGOP: #bc8c8c;

$tossup: #cfab67;
$undecided: #ddd;
$independent: #339947;
$libertarian: #7f5217;

$facebookBlue: #3b5998 ;
$twitterBlue: #c0deed ;

@mixin vertical-center-flex {
	display: -webkit-inline-flex;
  display: inline-flex;
 	align-items: center;
	-webkit-align-items: center;
	height: 100%;
}

@mixin vertical-center-column-flex {
  display: -webkit-flex;
  display: flex; //allows divs to stack next to each other
  -webkit-flex-direction: column;
  flex-direction: column; //orders top to bottom
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; //wraps left to right
  -webkit-justify-content: center;
  justify-content: center; //centers vertically if there is not a full column
  align-content: start;
}

@mixin left-column-flex {
	display: flex;
	display: -webkit-flex;

	flex-flow: column;
  -webkit-flex-direction: column;

	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

 	-webkit-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-content: flex-start;
  align-content: flex-start;
}




@mixin clearfix {
	.clearfix {
	  overflow: auto;
	}
}

@mixin body-copy {
	margin: 0;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	background-color: #fff;
}


@mixin splash-base {
	.header {
		background-color: black;
		color: white;
		padding: 5px;
		h1 {
			display: inline;
			margin: 0;
		}
		.tease-link {
			position: relative;
			display: inline;
			a {
				color: white;
				background: red;
				padding: 3px;
				line-height: 10px;
			}
			.arrow-right {
				width: 10px;
				height: 0;
				$aheight: 12.9px;
				border-top: $aheight solid transparent;
				border-bottom: $aheight solid transparent;
				border-left: $aheight solid red;
				position: absolute;
				right: -22px;
				top: -3.5px;
			}
		}
	}
}

@mixin rail-link-out{
		div.teaser-link{
			position: relative;
			margin-top: 15px;
			a.button{
				height: 26px;
				width: 250px;
				font-size: 14px;
				font-weight:lighter;
				text-decoration: none;
				margin-top: 15px;
				display: table-cell;
				vertical-align: middle;
				color: white;
				background-color: #e41a1c;
				text-align: center;
			}
			div.arrow-right{
				position:absolute;
				display: inline-block;
				width: 0;
				height: 0;
				left: 250px;
				bottom: 0px;
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
				border-left: 13px solid #e41a1c;
			}
			&:hover{
			.arrow-right{
				border-left: 13px solid #f1f1f1;
			}
			.button{
				background-color: #f1f1f1;
				color: black;
			}
		}
	}
}

@mixin desktop-splash-base {
	@include splash-base;
}

@mixin mobile-splash-base {
	@include splash-base;
	width: 320px;
}

@mixin right-rail-base {
	@include rail-link-out;
}
