$muted: #ccc;
$tableBorderColor: #eee;

$strongDem: #5c6b95;
$weakDem: #9facd0;
$strongGOP: #bc5c5c;
$weakGOP: #bc8c8c;

$tossup: #cfab67;
$undecided: #ddd;
$independent: #339947;
$libertarian: #7f5217;

$facebookBlue: #3b5998 ;
$twitterBlue: #c0deed ;

$splash-ele-bg: #eee;


@mixin vertical-center-flex {
	display: -webkit-inline-flex;
  display: inline-flex;
 	align-items: center;
	-webkit-align-items: center;
	height: 100%;
}

@mixin vertical-center-column-flex {
  display: -webkit-flex;
  display: flex; //allows divs to stack next to each other
  -webkit-flex-direction: column;
  flex-direction: column; //orders top to bottom
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; //wraps left to right
  -webkit-justify-content: center;
  justify-content: center; //centers vertically if there is not a full column
  -webkit-align-content: start;
  align-content: start;
}

@mixin left-column-flex {
	display: flex;
	display: -webkit-flex;

	flex-flow: column;
  -webkit-flex-direction: column;

	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

 	-webkit-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-content: flex-start;
  align-content: flex-start;
}

@mixin clearfix {
	.clearfix {
	  overflow: auto;
	}
}

@mixin body-copy {
	margin: 0;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	background-color: #fff;
}

@mixin header-copy {
	font-family: ProximaNovaCond-Extrabld, Arial, Helvetica, sans-serif;
}

@mixin rail-link-out {
	$arrow-fill: #e41a1c;
	.tease-link {
		display: flex;
		display: -webkit-flex;
	 	align-items: center;
		-webkit-align-items: center;
		a {
			padding: 3px 10px 3px 10px;
			text-decoration: none;
			color: white;
			text-align: center;
			background: $arrow-fill;
		}
		.arrow-right{
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			border-left: 13px solid $arrow-fill;
		}
		&:hover {
			.arrow-right {
				border-left: 13px solid lighten($arrow-fill, 20%);
			}
			a {
				background-color: lighten($arrow-fill, 20%);
			}
		}
	}
}

@mixin splash-base {
	.header {
		background-color: black;
		color: white;
		h1, h5, h4 {
			display: inline;
			margin: 0;
		}
	}
	/*
	.tease-link {
		position: relative;
		display: inline;
		a {
			color: white;
			background: red;
			padding: 3px;
		}
		.arrow_box {
			position: relative;
			background: #red;
			position: absolute;
			right: 0px;

		}
		.arrow_box:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(213, 7, 0, 0);
			border-left-color: #d50700;
			border-width: 12.5px;
			margin-top: -25.5px;
		}
	}
	*/
	@include rail-link-out;
}

@mixin footnotes {
	.footnotes {
	  color: #666;
	  font-size: 12px;
	  line-height: 13px;
	  p {
	    margin-top: 2px;
	    margin-bottom: 2px;
	  }
	  &.footer {
	    margin-top: 10px;
	    margin-bottom: 10px;
	  }
	}
}

@mixin countdown-table {
	div#countdown {
		width: 100%;
		display: inline-block;
		margin: auto;
		text-align: right;
		font-size:16px;
		div {
			display: inline-block;
			text-align: center;
		}
		span {
			text-align: center;
			display: block;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			th{
				background-color: #f1f1f1;
				height: 30px;
				text-align: center;
				font-size: 18px;
				border: 1px solid #bdbdbd;
			}
			td{
				background-color: #f1f1f1;
				text-align: center;
				font-size: 12px;
				border: 1px solid #bdbdbd;
			}
		}
	}
}
@mixin ellipsized-table {
  tr.ellipsized {
    display: none;
  }

  & + .ellipsize-table-prompt {
    height: 2rem;
    text-align: center;

    button {
      margin: 0;
      padding: .5rem 1rem;
      height: 1rem;
      line-height: 1rem;
      border: none;
      font: inherit;
      background: none;
      cursor: pointer;
      color: blue;
    }
  }
}

@mixin desktop-splash-base {
	@include splash-base;
}

@mixin mobile-ad-base {
	@include splash-base;
}

@mixin right-rail-base {
	@include rail-link-out;
}
