$muted: #ccc;
$tableBorderColor: #eee;

$strongDem: #5c6b95;
$weakDem: #9facd0;
$strongGOP: #bc5c5c;
$weakGOP: #bc8c8c;

$tossup: #cfab67;
$undecided: #ddd;
$independent: #339947;
$libertarian: #7f5217;

$facebookBlue: #3b5998 ;
$twitterBlue: #c0deed ;


@mixin clearfix {
	.clearfix {
	  overflow: auto;
	}
}

@mixin body-copy {
	margin: 0;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	background-color: #fff;
	@include clearfix;
}


@mixin splash-base {
	.header {
		background-color: black;
		color: white;
		padding: 5px;
		h1 {
			display: inline;
			margin: 0;
		}
		.tease-link {
			position: relative;
			display: inline;
			a {
				color: white;
				background: red;
				padding: 3px;
				line-height: 10px;
			}
			.arrow-right {
				width: 10px; 
				height: 0;
				$aheight: 12.9px;
				border-top: $aheight solid transparent;
				border-bottom: $aheight solid transparent;
				border-left: $aheight solid red;
				position: absolute;
				right: -22px;
				top: -3.5px;
			}
		}
	}	
}

@mixin desktop-splash-base {
	@include splash-base;
	width: 977px;
}

@mixin mobile-splash-base {
	@include splash-base;
	width: 320px;
}

@mixin right-rail-base {
	//TK
}

