.bar-chart-hed {
  font-size: 1.5em;
  margin: 0 0 15px 0;
}

.party-container{
  float: left;
  width: 50%;
  overflow: hidden;
  margin:0px 0px 0px 0px;
  .total-delegates-bar{
    border: 1px solid gray;
    border-radius: 10px;
    height: 0.5em;
    display: inline-block;
    width: 50%;
    .n-delegates-bar{
      border-radius: 10px;
      height: 0.5em;
      background-color: red;
    }
  }
  .cd-name{
    display: inline-block;
    width: 35%;
  }
  .n-delegates-count{
    display: inline-block;
  }
}
