@import '_variables';

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
  @include header-copy;
}

.primary-mobile-ad {
	@include mobile-ad-base;
}

#countdown {
	text-align: center;
}

.hours, .minutes, .seconds {
	font-weight: bold;
}

.countdown-container {
	border-bottom: 1px solid black;
	font-weight: bold;
	margin: 5px;
	text-align: center;
	span {
		&:not(.lbl) {
			font-size: 20px;
		}
		&.lbl {
			font-size: 12px;
			padding-top: 10px;
		}
	}
}

.parties-container {
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
	width: 100%;

}

.party-container {
	margin: 5px;
	&.dem {
		background: $widgetLightBlue;
	}
	&.gop {
		background: $widgetLightRed;
	}
}

.frontrunner-lbl {
	padding: 5px 10px;
	text-align: center;
	margin: 0 0 5px 0;
	color: #fff;
	.dem & {
		background: $widgetBlue;
	}
	.gop & {
		background: $widgetRed;
	}
}

.img-stats-container {
	@include vertical-center-flex;
	width: 100%;
}

.leading-candidate-img {
	img {
		width: 40px;
		padding-left: 10px;
	}
}

.leading-candidate-delegates {
	margin: 4px auto 10px;
	p {
		margin: 0;
		text-align: center;
	}
}

.frontrunner-cd {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.frontrunner-num {
	font-weight: bold;
	font-size: 24px;
}

.frontrunner-unit {
	font-weight: lighter;
}

.no-results {
	h4 {
		text-align: center;
	}
	margin: 0 auto;
}

.tease-link {
	padding: 20px;
	margin: 5px;
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	a {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #2e7061;
	}
}