@import '_variables';

@include tense-conditionals;

.primary-mobile-ad {
	@include mobile-ad-base;
}

.head {
	@include header-copy;
	text-align: center;
	h1, h3 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.source {
	font-size: 11px;
	a {
		color: black;
	}
}

.countdown-container {
	border-bottom: 1px solid black;
	font-weight: bold;
	margin: 5px;
	text-align: center;
	span {
		&:not(.lbl) {
			font-size: 20px;
		}
		&.lbl {
			font-size: 12px;
			padding-top: 10px;
		}
	}
}

.parties-container {
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
	width: 100%;
}

.party-container {
	margin: 5px;
	width: 50%;
	&.Dem {
		background: $widgetLightBlue;
	}
	&.GOP {
		background: $widgetLightRed;
	}
}

.frontrunner-lbl {
	padding: 5px 10px;
	text-align: center;
	margin: 0 0 5px 0;
	color: #fff;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	@include vertical-center-flex;
	img {
		width: 20%;
	}
	div {
		width: 80%;
		text-align: center;
		margin-left: 5px;
	}
	.Dem & {
		background: $widgetBlue;
	}
	.GOP & {
		background: $widgetRed;
	}
}

.img-stats-container {
	@include vertical-center-flex;
	width: 100%;
}

.leading-candidate-img {
	img {
		width: 40px;
		padding-left: 10px;
	}
}

.leading-candidate-delegates {
	margin: 4px auto 10px;
	p {
		margin: 0;
		text-align: center;
	}
}

.frontrunner-cd {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.frontrunner-num {
	font-weight: bold;
	font-size: 24px;
}

.frontrunner-unit {
	font-weight: lighter;
}

.no-results {
	h4 {
		text-align: center;
	}
	margin: 0 auto;
}

.tease-link {
	@include tease-link();
	@include huffpo-body-copy;
	margin: 5px;

	a {
    color: #2e7061;
	}
}