.tables{
  width: 100%;
  clear:both;
}
.t-pollster {
  width: 45%;
  table {
    border-collapse: collapse;
  }
  td {
    text-align: left;
    padding: 5px;
    height: 10px;
    border-bottom: 1px solid gray;
  }
  td.pollster{
    width: 10%;
    text-align: center;
    border-left: 1px solid gray;
  }
  tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  th {
    text-align: left;
    border-bottom: 1px solid black;
  }
  &.democratic {
    float: left;
  }
  &.republican {
    float: right;
  }
}
.cd-img {
  height: 30px;
}