@import '_variables';
@import 'main/sparklines.css.scss';
@import 'primaries/right-rail/few-races.css.scss';
@import 'primaries/right-rail/many-races.css.scss';

@include precincts-reporting-conditionals;
@include tense-conditionals;

.sparkline {
  fill: none;
}

body{
  margin: 0 auto;
  @include widget-base;

  max-width: 312px;
}

h1, h2, h3, h4{
  margin: 0;
  font-family: $header-font-family;
  text-align: center;
}

h1, h3 {
  text-transform: uppercase;
}

h1 a, h2 a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p.intro {
  margin-bottom: 12px;
  margin-top: 12px;
}

div.rail-banner {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.tease-link { 
  @include tease-link();
  margin-top: 0;
  margin-bottom: 0;
}

.footnotes {
  @include footnotes;
  margin-top: 5px;
}

p.n-votes-footnote {
  font-size: .8rem;
  color: $muted;
}

.sparkline {
  display: inline-block;
  height: 1.2rem;
  vertical-align: middle;
  width: 50px;
}
