@import '_variables.scss';
@import 'main/horse-races.css.scss';

body.horse-race {
  margin: 0;
  padding: 0;
  font-family: $huffpo-font-family;

  h1 {
    font-family: $header-font-family;
    font-size: 1.25rem;
  }

  h1, p.description {
    text-align: center;
    margin: 0 0 .5rem;
  }

  p.description {
    line-height: 1.5rem;
    @include horse-race-legends();
  }

  p.source {
    margin: 0;
    font-size: .8rem;
  }

  .horse-race {
    margin-bottom: 0;
  }
}

// When loading, hide the horses. Otherwise, they'll be placed at _today's_
// position instead of the position in window.location.hash
div.horse-race.loading {
  .marker { display: none; }
}

.prompt-to-embed {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 1rem;
  background: #ddd;

  pre {
    white-space: normal;
    word-break: break-all;
    border: 1px solid #ccc;
    background: #eee;
    padding: .5rem;
  }
}
