//= require ./main/sparklines
@import '_variables';

@include tense-conditionals;

.sparkline {
  fill: none;
}

body{
  @include widget-base;
}

h1, h2, h3, h4{
  margin: 0;
  &.sub {
    text-align: center;
  }
}

h2.sub a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.primary-right-rail {
  margin: 0 auto;



  p.intro {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  div.rail-banner {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
  }

  .tease-link { 
    @include tease-link();
    margin-top: 0;
    margin-bottom: 0;
  }

  .footnotes {
    @include footnotes;
    margin-top: 5px;
  }

  .race-name{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    h3 {
      a {
        color: #fff;
      }
      margin-bottom: 0 !important;
    }
    p {
      margin: 0 !important;
      font-size: 12px;
    }
  }

  div.container {
    .race-name.gop { background: $widgetRed; }
    .race-name.dem { background: $widgetBlue; }
  }

  table.t-pollster {
    @include pollster-table(); // 10px left/right padding on cells

    .n-votes, .n-votes-pct {
      text-align: right;
    }
  }

  .sparkline {
    display: inline-block;
    height: 1.2rem;
    vertical-align: middle;
    width: 50px;
  }

  .party-container {
    h3, p {
      margin: 10px;
    }

    table {
      thead, th, .pollster {
        font-weight: normal !important;
      }
      th {
        padding-bottom: 6px;
      }
    }

    table[data-party-id="Dem"] {
      td {
        //background-color: $widgetLightBlue;
      }
      tr.leader {
        background-color: $widgetLightBlue;
      }
    }
    table[data-party-id="GOP"] {
      td {
        //background-color: $widgetLightRed;
      }
      tr.leader {
        background-color: $widgetLightRed;
      }
    }
  }

}
