@import '_variables';

body {
  margin: 2rem;
}

.race {
  display: inline-block;
}

.race>svg {
  width: 350px;
  height: 350px;
}

g.counties, g.subcounties, g.cities { display: none; }

path.state {
  stroke: 20px solid black;

  .race.Dem & { fill: $widgetBlue; }
  .race.GOP & { fill: $widgetRed; }
}

path.mesh {
  fill: none;
  stroke: white;
  stroke-width: 10px;
}
