//= require ./main/sparklines
@import '_variables';

@include tense-conditionals;

.sparkline {
  fill: none;
}

body{
  @include widget-base;
}

h1, h2, h3, h4{
  margin: 0;
  font-family: $header-font-family;
  text-align: center;
}

h1, h3 {
  text-transform: uppercase;
}

h2 a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p.intro {
  margin-bottom: 12px;
  margin-top: 12px;
}

div.rail-banner {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.tease-link { 
  @include tease-link();
  margin-top: 0;
  margin-bottom: 0;
}

.footnotes {
  @include footnotes;
  margin-top: 5px;
}

.race-name{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin: 0;
    font-size: .75rem;
  }
}

table.t-pollster {
  @include pollster-table(); // 10px left/right padding on cells

  .n-votes, .n-votes-pct {
    text-align: right;
  }
}

.sparkline {
  display: inline-block;
  height: 1.2rem;
  vertical-align: middle;
  width: 50px;
}

.race {
  h3, p {
    margin: 10px;
  }

  table {
    thead, th, .pollster {
      font-weight: normal !important;
    }
    th {
      padding-bottom: 6px;
    }
  }

  tr.winner td.candidate::after {
    content: '✓';
  }
}

.race[data-party-id=Dem] {
  .race-name { background: $widgetBlue; }
  tr.leader { background: $widgetLightBlue; }
}

.race[data-party-id=GOP] {
  .race-name { background: $widgetRed; }
  tr.leader { background: $widgetLightRed; }
}
