body.race-day {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.parties, .state-results {
    display: flex;
    -webkit-display: flex;

    li {
      width: 50%;
    }
  }

  .state-map, .state-party-results {
    width: 33.33333%;
  }

  .state-map {
    order: 1;
    -webkit-order: 1;
  }

  .state-map + .state-party-results + .state-party-results {
    order: 2;
    -webkit-order: 2;
  }

  h2, h3 {
    text-align: center;
  }

  li.state {
    margin-bottom: 4rem;
  }

  svg {
    path.county {
      stroke: white;
      stroke-width: 1px;
      fill: #eed;
    }
  }
}
