body.race-day {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  table.race {
    border-collapse: collapse;
    width: 90%;
    td {
      text-align: left;
      padding: 5px;
      height: 10px;
      border-bottom: 1px solid gray;
    }
    td.pollster{
      width: 10%;
      text-align: center;
      border-left: 1px solid gray;
    }
    td.candidate{
      width: 30%;
    }
    td.n-votes{
      border-left: 1px solid gray;
      text-align: center;
    }
    td.n-delegates{
      border-left: 1px solid gray;
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #f1f1f1;
    }
    th {
      text-align: left;
      border-bottom: 1px solid black;
    }
  }

  ul.parties, ul.party-state {
    display: flex;
    -webkit-display: flex;

    li {
      width: 50%;
    }
  }

  h2, h3 {
    text-align: center;
  }

  li.state {
    margin-bottom: 4rem;
  }

  svg {
    path.county {
      stroke: white;
      stroke-width: 1px;
      fill: #eed;
    }

    path.hover {
      fill: transparent;
      stroke: #aaa;
      stroke-width: 2px;
      z-index: 1;
    }
  }

  .race-tooltip {
    &.show {
      display: inline-block;
    }

    display: none;
    position: absolute;
    border: 1px solid #ddd;
    padding: 1rem;
    background: white;

    table {
      margin: 0;
      padding: 0;
      border-collapse: collapse;
    }
  }
}
