.primary-right-rail{
  width: 300px;
  div#countdown {
    padding: 5px;
    text-align: right;
    font-size:20px;
    float: right;
    height: 50px;
    div {
      display: inline-block;
      text-align: center;
    }
    div.time-text {
      font-size: 12px;
    }
    span {
      text-align: center;
      display: block;
    }
  }
  div.delegates-available{
    font-size: 14px;
    display: inline-block;
    color: #5c6b95;
    span.Dem{
      color: #5c6b95;
    }
    span.GOP{
      color: #bc5c5c;
    }
  }
  div.race-name{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
  }
  div.container {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #bdbdbd;
    span.last-updated{
      font-size: 12px;
    }
    li.live-state-name.Democrats{
      color: #5c6b95;
    }
    li.live-state-name.Republicans{
      color: #bc5c5c;
    }
    a.button{
      margin-top: 15px;
      border-radius: 5px;
      display: inline-block;
      color: white;
      background-color: gray;
      padding: 10px;
      &:hover{
        background-color: #000000;
      }
    }
    a.upcoming-link{
      width: 100%;
      display: inline-block;
      .upcoming-dem {
        color: #5c6b95;
      }
      .upcoming-gop {
        color: #bc5c5c;
      }
    }
    a.happened-link{
      width: 100%;
      display: inline-block;
      .happened-dem {
        color: #5c6b95;
      }
      .happened-gop {
        color: #bc5c5c;
      }
    }
    table.t-pollster {
      border-collapse: collapse;
      min-width: 275px;
      td {
        text-align: left;
        padding: 1px;
        height: 8px;
        border-bottom: 1px solid #bdbdbd;
      }
      td.pollster{
        font-weight: bold;
        width: 10%;
        text-align: center;
      }
      th {
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid #bdbdbd;
      }
    }
  }
}
