@import '_variables';

$splash-height: 140px;
$splash-width: 977px;
body {
	@include body-copy;
}

.left {
	float: left;
}

.primary-splash-banner {
  @include desktop-splash-base;
}

.countdown-map-container {
	width: 250px;
	height: 260px;
	border-right: 1px solid black;
}

.parties-container {
	width: $splash-width - 252;
}

.leading-candidate-img {
	position: absolute;	
	margin-left: -20px;
	margin-top: -12px;
	width: 95px;
	img {
		width: 100%;
	}
}

.leading-candidate-delegates {
	font-weight: bold;
	margin-left: 75px;
	padding-right: 10px;
	width: 238px;
	p {
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.candidate-delegates-lbl {
	font-weight: bold;
	text-align: center;
	p:first-child {
		margin-top: 5px;
		margin-bottom: 0;
		padding-bottom: 5px;
	}
}

.candidate-position-listing {
	width: 379px;
	border-left: 1px solid #999;
	height: 100%;
	.candidate {
		width: 118px;
		background: #fff;
		margin: 3px;
		margin-right: 5px;
		font-size: 13px;
		table {
			width: 100%;
			tr {
				td {
					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: right;
					}
					&.see-all {
						text-align: left;
					}
				}
			}
		}
	}
}

.party-container {
	background-color: #eee;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 10px;
	&.dem {
		height: 90px;
		.leading-candidate-delegates {
			padding-top: 20px;
		}
		.leading-candidate-img {
			padding-top: 4px;
		}
	}
	&.gop {
		height: 145px;
		.leading-candidate-delegates {
			padding-top: 40px;
		}
		.leading-candidate-img {
			padding-top: 20px;
		}
	}
	
	overflow: hidden;
	&.dem {
		.frontrunner-lbl { color: $strongDem; }
	}
	&.gop {
		.frontrunner-lbl { color: $strongGOP; }
	}
}