@import '_variables';

$splash-ele-bg: #eee;

$party-container-height: 110px;

body {
	@include body-copy;
}

h1, h2, h3, h4{
  @include header-copy;
}

.flex-container {
	display: flex;
	flex-flow: row;
	display: -webkit-flex;
  -webkit-flex-direction: row;
}

.primary-splash-banner {
  @include desktop-splash-base;
  max-width: 945px;
}

.map-container {
  width: 14rem;
  padding: 0 .75rem;
	text-align: center;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

	h3,h5 {
		margin: 0;
		text-align: center;
	}

	.map {
		svg {
			width: 100%;
		  height: 100%;

      path.state { display: none; }

		  g.counties path {
		    stroke: white;
		    stroke-width: 15; // divided by 10, then squished
		    fill: #eee;
		    &.has-results {
		    	fill: #999;
		    }
		  }

      text {
        @include svg-city-label();
        font-size: 23px; // the image is squished quite small; bump the font.
      }
		}
	}

	img {
		width: 100%;
	}

	.legend {
		font-size: 10px;
		.container {
			display: inline-flex;
			-webkit-display: inline-flex;
			text-align: left;
			width: 100%;
		}
		.unfinished, .finished {
			width: 10px;
			height: 10px;
			margin-right: 3px;
		}
		.finished {
			background-color: #999;
		}
		.unfinished {
			background-color: #eee;
		}
	}
	span.counties-reporting {
		font-size: 12px;
		font-weight: bold;
	}
	span.footnote {
		color: #999;
		font-size: 11px;
		margin-top: -20px;
	}
}

.parties-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	display: -webkit-flex;
  -webkit-flex-direction: column;
}

.leading-candidate-img {
	@include vertical-center-flex;
	img {
		width: 72px;
	}
	margin-left: -10px;
}

.leading-candidate-delegates {
	font-weight: bold;
	padding: 10px;
	border-right: 1px solid #999;
	height: 100%;
	p {
		margin-top: 0;
		margin-bottom: 5px;
	}
	width: 135px;
	&.preview {
		//width: 110px;
		width: 90px;
		@include vertical-center-flex;
	}
}


.candidate-position-lbl {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	@include vertical-center-flex;
}

.candidate-position-listing {
	height: 100%;
	@include vertical-center-column-flex;

	.candidate {
		width: 115px;
		background: #fff;
		margin: 3px;
		margin-right: 5px;
		font-size: 13px;

		table {
			width: 100%;
			font-weight: bold;
			tr {
				td {
					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: right;
					}
					&.see-all {
						text-align: center;
					}
				}
			}
		}
	}
}

.party-container {
	background-color: $splash-ele-bg;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 15px;
	height: $party-container-height;

	@include left-column-flex;

	&.dem {
		.frontrunner-lbl { color: $strongDem; }
		table.leader {background: $weakDem;}
	}
	&.gop {
		.frontrunner-lbl { color: $strongGOP; }
		table.leader {background: $weakGOP;}
	}
}
