@import '_variables';

$splash-height: 245px;
$splash-width: 977px;
$ele-bg: #eee;

$map-countdown-width: 160px;
$map-countdown-padding: 10px;

body {
	@include body-copy;
}

.left {
	float: left;
}

.primary-splash-banner {
  @include desktop-splash-base;
}

.countdown-map-container {
	width: $map-countdown-width;
	height: $splash-height;
	border-right: 1px solid black;
	padding: $map-countdown-padding;
	h3 {
		margin: 0;
	}
}

.countdown-container {
	table {
		background-color: $ele-bg;
		margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
		tr {
			font-weight: bold;
			text-align: center;
			td {
				padding: 3px;
				border: 1px solid #999;
			}
		}
		tr:first-child {
			font-size: 40px;
		}
	}	
}

.map-container {
	margin-top: 10px;
	width: 100%;
	.map {
		svg {
			width: $map-countdown-width;
			height: $map-countdown-width - 50px;
		  g.counties path {
		    stroke: white;
		    stroke-width: 10; // divided by 10
		    fill: #eee;
		  }
		  text {
		  	opacity: 0;
		  }
		}
	}
	img {
		width: 100%;
	}
	span.counties-reporting {
		font-size: 12px;
		font-weight: bold;
	}
	span.footnote {
		color: #999;
		font-size: 11px;
		margin-top: -20px;
	}
}

$parties-container-width: $splash-width - $map-countdown-width - ($map-countdown-padding * 2) - 1;

.parties-container {
	width: $parties-container-width;
}

$candidate-img-width: 95px;
$leading-candidates-width: 170px;
$leading-candidates-left: 90px;

.leading-candidate-img {
	position: absolute;	
	margin-left: -20px;
	margin-top: -30px;
	height: 105px;
	//width: $candidate-img-width;
}

.leading-candidate-delegates {
	font-weight: bold;
	margin-left: $leading-candidates-left;
	padding-right: 10px;
	width: $leading-candidates-width;
	p {
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.candidate-delegates-lbl {
	font-weight: bold;
	text-align: center;
	p:first-child {
		margin-top: 5px;
		margin-bottom: 0;
		padding-bottom: 5px;
	}
}

$candidate-position-listing-width: $parties-container-width - $candidate-img-width - $leading-candidates-width - $leading-candidates-left + 60;

.candidate-position-listing {
	width: $candidate-position-listing-width;
	border-left: 1px solid #999;
	height: 100%;
	margin: 0 auto;
	.candidate {
		width: 116px;
		background: #fff;
		margin: 3px;
		margin-right: 5px;
		font-size: 13px;
		table {
			width: 100%;
			font-weight: bold;
			tr {
				td {
					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: right;
					}
					&.see-all {
						text-align: center;
					}
				}
			}
		}
	}
}

.party-container {
	background-color: $ele-bg;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 25px;
	&.dem {
		height: 90px;
		.leading-candidate-delegates {
			padding-top: 15px;
		}
		.leading-candidate-img {
			padding-top: 4px;
		}
	}
	&.gop {
		height: 120px;
		.leading-candidate-delegates {
			padding-top: 30px;
		}
		.leading-candidate-img {
			padding-top: 10px;
		}
	}
	
	overflow: hidden;
	&.dem {
		.frontrunner-lbl { color: $strongDem; }
	}
	&.gop {
		.frontrunner-lbl { color: $strongGOP; }
	}
}