body.all-primaries {
  h3.section-hed {
    font-size: 1.8em;
    text-align: center;
    clear: both;
    padding-top: 30px;
  }
}

.teaser {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 40px 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: #000;
  * {
    box-sizing: border-box;
  }
  span {
    padding: 10px;
  }
  .label {
    background: #666;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .detail {
    font-style: italic;
  }
  .callout {
    font-weight: bold;
  }
  @media (max-width: 549px) {
    .label {
      display: block;
      text-align: center;
      width: 100%;
    }
    .teaser-inner {
      display: block;
      width: 100%;
      background: #f8f8f8;
      overflow: auto;
      padding: 0;
    }
    .detail {
      float: left;
    }
    .callout {
      float: right;
    }
  }
  @media (min-width: 550px) {
    background: #f8f8f8;
    .callout {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
