$horse-width: 8rem;

.horse-races {
  .horse-race {
    position: relative;
    margin-bottom: 5rem;
  }

  .n-delegates-needed {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    line-height: 1.5rem;
    font-size: .8rem;
    z-index: 1;
  }

  ol.candidate-horses {
    margin: 1rem 0 -1rem;
    padding: 6rem .75rem 0 0;
    list-style: none;
    background: #efe;
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 0;
      width: .75rem;
      height: 100%;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 2 2" width="8px" height="8px"><path d="M0,0h1v1h-1ZM1,1h1v1h-1Z" fill="black"/><path d="M0,1h1v1h-1ZM1,0h1v1h-1Z" fill="white"/></svg>') repeat;
    }
  }

  li.candidate-horse, li.extra-layer {
    position: relative;
    line-height: 1.5rem;
    height: 1.5rem;
    margin-left: $horse-width * 19 / 20; // The nose is 5% from the rightmost point of the horse image.
    z-index: 0; // start a layer

    .background {
      position: absolute;
      top: -1rem;
      left: 0;
      right: 0;
      height: 2.5rem;
      margin-left: -$horse-width * 19 / 20; // The nose is 5% from the rightmost point of the horse image.

      // The shadow is the same for all three backgrounds, so write it once
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 5"><defs><filter id="blur"><feGaussianBlur stdDeviation="0.3" result="blur"/></filter></defs><path d="M0,1C3,1 2,2 5,2C8,2 7,1 10,1L11,1L11,6L-1,6L-1,1Z" fill="black" filter="url(#blur)"/></svg>') repeat-x bottom left;

      &::after {
        content: ' ';
        background-repeat: repeat-x;
        background-position: bottom left;
        display: block;
        position: relative;
        height: 100%;
      }

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: $horse-width;
        margin-left: -2px;
        border-left: 2px dashed $muted;
        height: 100%;
        z-index: 1;
      }
    }

    &:nth-child(3n) .background {
      background-position-x: 0;
      &::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 5"><path d="M0,1C3,1 2,2 5,2C8,2 7,1 10,1L11,1L11,6L-1,6L-1,1Z" fill="%23393"/></svg>');
        background-position-x: 0;
      }
    }
    &:nth-child(3n + 1) .background {
      background-position-x: .2rem;
      &::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 5"><path d="M0,1C3,1 2,2 5,2C8,2 7,1 10,1L11,1L11,6L-1,6L-1,1Z" fill="%236a6"/></svg>');
        background-position-x: .2rem;
      }
    }
    &:nth-child(3n + 2) .background {
      background-position-x: .1rem;
      &::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 5"><path d="M0,1C3,1 2,2 5,2C8,2 7,1 10,1L11,1L11,6L-1,6L-1,1Z" fill="%238c8"/></svg>');
        background-position-x: .1rem;
      }
    }
  }

  .marker {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -.25rem;
    width: $horse-width;
    height: $horse-width * 3 / 4; // image aspect ratio
    margin-left: -$horse-width * 19 / 20; // The nose is 5% from the rightmost point of the horse image.

    transition: left .4s linear, transform .1s linear;
    -webkit-transform-origin: bottom 10%;
    transform-origin: bottom 10%;

    &.adding {
      -moz-animation: .5s linear 0s infinite horse-move;
      -webkit-animation: .5s linear 0s infinite horse-move;
      animation: .5s linear 0s infinite horse-move;
      transition: none;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .speech-bubble {
    display: none;
    position: absolute;
    top: -10rem;
    left: -3rem;
    float: left;
    padding: 1rem;
    line-height: 1rem;
    text-align: center;
    background: white;
    border: 2px solid $muted;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    white-space: nowrap;

    &::before, &::after {
      content: ' ';
      position: absolute;
      left: 1rem;
      bottom: -13px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
    }

    &::before {
      border-color: $muted transparent transparent $muted;
    }

    &::after {
      bottom: -8px;
      border-width: 4px;
      margin-left: 2px;
      border-color: white transparent transparent white;
    }
  }

  .marker:hover .speech-bubble {
    display: block;
  }

  ol.candidate-targets {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 1.5rem 0;
    margin: 0;
    list-style: none;
    -webkit-perspective: 500px;
    perspective: 500px;
  }

  li.candidate-target {
    position: relative;
    background: white;
    text-align: center;
    width: 5rem;
    height: 6.5rem;

    &.adding {
      background: #ffc;
    }

    .last-name {
      font-weight: bold;
      height: 1rem;
      line-height: 1rem;
    }

    img {
      display: block;
      width: 3rem;
      height: 4rem;
      margin: 0 auto;
    }

    .n-delegates {
      text-align: center;
      height: 1rem;
      line-height: 1rem;
      padding-right: 0; // We'll only show the .target during animation
      transition: padding-right .2s ease-in-out;
    }

    .target {
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: .5rem;
      bottom: .5rem;
      border-radius: .5rem;
      background: #bbb;
      box-sizing: border-box;
      border: 2px solid white;
      z-index: 0; // so ::before and ::after go behind it
      transition: opacity .2s ease-in-out;
      opacity: 0; // We'll only show it during animation

      &::before, &::after {
        position: absolute;
        z-index: -1;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: .5rem;
      }

      &::before {
        content: '';
        box-shadow: 1px 1px 4px black;
      }

      &::after {
        content: '';
        box-shadow: 2px 2px 5px black;
        transition: opacity .15s cubic-bezier(0, 1, 1, 1);
      }
    }

    &.adding .target {
      background: #d0d459;
      border-color: yellow;

      &::after {
        opacity: 0;
      }
    }
  }

  .horse-race.animating {
    li.candidate-target {
      .n-delegates { padding-right: 2rem; }
      .target { opacity: 1; }
    }
  }

  canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1; // above race-days
  }

  .json-data, .json-state-paths { display: none; }

  ol.race-days, ol.races {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
  }

  ol.race-days {
    position: relative;
    overflow: hidden;
    padding-left: 50%;
    padding-right: 50%;
  }

  li.race-day {
    display: inline-block;
    padding: 0 .5rem;
    text-align: center;
    border-right: 1px solid #ccc;
    &:last-child { border-right: none; }

    &.has-pledged-delegates:not(.active) {
      cursor: pointer;
    }

    &.has-no-pledged-delegates {
      opacity: .3;
      // Remember, the .race-day-selector has its own semitransparent overlay
      // too. So this is very faint indeed.
    }

    h4 {
      font: inherit;
      font-weight: bold;
      margin: 0;
    }
  }

  li.race {
    display: inline-block;
    padding: .25rem 0;
    position: relative;
    width: 1.6rem;
    height: 1.6rem;

    .state-code {
      position: absolute;
      line-height: 1.6rem;
      width: 1.6rem;
      font-weight: bold;
    }
  }

  .race-day-selector {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    left: 0;
    right: 0;

    .left, .right {
      position: absolute;
      top: 0;
      bottom: 0;
      background: white;
      transition: width .4s ease-in-out;
      opacity: .7;
    }

    .left {
      left: 0;
      width: 100px;
      border-right: 1px solid #333;
    }

    .right {
      right: 0;
      width: 100px;
      border-left: 1px solid #333;
    }
  }

  .map {
    svg {
      height: 1.6rem;
      width: 1.6rem;
    }

    path {
      fill: #ddd;
    }

    text { display: none; }
  }

  button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3rem;
    width: 3rem;
    z-index: 2; // above the <canvas>

    &::after {
      content: ' ';
      display: block;
      width: 2rem;
      height: 2rem;
      background-size: stretch;
      background-repeat: no-repeat;
    }

    &.play::after {
      background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 4"><path d="M1,1L3,2L1,3Z" fill="black"/></svg>');
    }

    &.pause::after {
      background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path d="M1,1h1v3h-1ZM3,1h1v3h-1Z" fill="black"/></svg>');
    }
  }
}

@-moz-keyframes horse-move {
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  60% { transform: rotate(0); }
}
@-webkit-keyframes horse-move {
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  60% { transform: rotate(0); }
}
@keyframes horse-move {
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  60% { transform: rotate(0); }
}
