@import '../_variables';

.party-state-map {
  svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  g.counties path {
    stroke: white;
    stroke-width: 10; // divided by 10
    fill: #eee;

    &.hover {
      stroke: #aaa;
      fill: #d6d6d6;
      pointer-events: none; // so it doesn't cause mouseleave
    }
  }

  g.cities {
    pointer-events: none;

    text.background {
      fill: none;
      stroke: white;
      stroke-width: 3px;
    }

    text.foreground {
      fill: black;
    }
  }

  circle {
    fill: black;
    stroke: white;
    stroke-width: 1px;
  }

  text {
    // JavaScript will position this text correctly; only JavaScript can
    // measure the width, because only JavaScript has the font.
    fill: none;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 14px;

    &.above, &.left, &.right, &.below {
      fill: #333;
    }
  }
}

.race[data-party-id=Dem] svg g.counties {
  path.candidate-came-first {
    fill: $strongDem;
  }

  path.candidate-came-second {
    fill: $undecided;
  }

  path.candidate-did-badly {
    fill: $undecided;
  }
}

.race[data-party-id=GOP] svg g.counties {
  path.candidate-came-first {
    fill: $strongGOP;
  }

  path.candidate-came-second {
    fill: $undecided;
  }

  path.candidate-did-badly {
    fill: $undecided;
  }
}
