.party-state-map {
  svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  g.counties path {
    stroke: white;
    stroke-width: 10; // divided by 10
    fill: #eee;

    &.hover {
      stroke: #aaa;
      fill: #d6d6d6;
      pointer-events: none; // so it doesn't cause mouseleave
    }
  }

  g.cities {
    pointer-events: none;
  }

  circle {
    fill: #666;
    stroke: #666;
    stroke-width: 3;
  }

  text {
    // JavaScript will position this text correctly; only JavaScript can
    // measure the width, because only JavaScript has the font.
    fill: none;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 14px;

    &.above, &.left, &.right, &.below {
      fill: #333;
      stroke: white;
      stroke-width: 0.1;
    }
  }
}
