.pollster-tables {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  .party-hed {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
}
