@import '../_variables';

.pollster-tables {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  .t-pollster {
    box-sizing: border-box;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;

    width: 100%;

    @media (min-width: 40rem) {
      width: 50%;

      &:first-child {
        padding-right: 20px;
      }
      &:last-child {
        padding-left: 20px;
      }
    }
  }

  table {
    @include ellipsized-table;
    @include pollster-table;
  }

  .party-hed {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
}
