@import '../_variables';

.race-day-nav {
  text-align: center;

  &>* {
    display: inline-block;
  }

  a {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  span.disabled {
    color: $muted;
  }
}
