@import '../_variables';
@import '../_spin-animation';

body.race-day {
  h1, h2, h3, p.intro-copy, p.text, .metadata p, .footnotes p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .metadata {
    margin: 20px 0 0 0;
    p {
      margin: 4px 0;
    }
  }

  .state-dropdown {
    position: relative;
    width: 30em;
    margin: 4em auto;
  }

  .dropdown-button {
    display: block;
    background: none;
    border: 1px solid #ccc;
    width: 30em;
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Source Sans Pro';
    cursor: pointer;
    outline: none;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    width: 30em;
    text-align: center;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 100;
    padding: 1em 0 1.2em;
    a {
      display: block;
      text-decoration: none;
      padding: 0.2em;
      color: #000;
      &:hover {
        background: $widgetLightBlue;
      }
    }
    &.visible {
      display: block;
    }
  }

  @media (max-width: 649px) {
    .state-name {
      display: none;
    }
  }

  @media (min-width: 650px) {
    .second {
      display: none;
    }
    .party-name {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.party-state {
    @include party-stuff-side-by-side-when-wide();
  }

  ul.party-state>li.party-state {
    // Make the inner ul.other-races stretch to full height
    display: -webkit-flex;
    display: flex;
  }

  li.state {
    margin-bottom: 3rem;
  }

  &.show-delegates {
    .n-pledged-delegates,
    .n-pledged-delegates-dots {
      display: none;
    }
  }

  &.show-pledged-delegates {
    .n-delegates,
    .n-delegates-dots {
      display: none;
    }
  }
}
