@import '../_variables';

body.race-day {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  table.race {
    @include ellipsized-table;

    border-collapse: collapse;
    width: 100%;

    td, th {
      white-space: nowrap;
      padding: 5px;
    }

    td {
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }

    th {
      text-align: left;
      border-bottom: 1px solid black;
    }

    .cd-img {
      img {
        height: 30px;
        vertical-align: middle;
        padding: 2px;
      }
    }

    .pollster{
      text-align: right;
      padding-right: 0;
    }
    .candidate {
      width: 100%;
    }
    .candidate, .cd-img {
      padding-left: 0;
    }
    .n-votes, .n-delegates {
      text-align: right;
    }
  }

  ul.parties, ul.party-state {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    li {
      box-sizing: border-box;
      display: block;
      width: 100%;
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;

      @media (min-width: 650px) {
        width: 50%;
        &:first-child {
          padding-right: 20px;
        }
        &:last-child {
          padding-left: 20px;
        }
      }
    }

    .sparkline {
      display: inline-block;
    }

    .percent {
      display: inline-block;
      width: 3em;
    }
  }

  h2, h3 {
    text-align: center;
  }

  li.state {
    margin-bottom: 4rem;
  }

  .party-state-map {
    position: relative;
  }

  .race-tooltip {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    max-width: 16rem;
    box-shadow: 0 0 10px #ccc;
    padding: 1rem;
    background: white;
    h4 {
      margin: 0 0 6px 0;
      font-size: 1.3em;
    }
    table {
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0;
      border-collapse: collapse;
    }
    tr {
      border-bottom: 1px dotted #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
    .candidate {
      padding-right: 5px;
    }
    .n-votes {
      text-align: right;
      padding-left: 5px;
    }
    .precincts, .last-updated {
      margin: 0;
      font-size: 0.8em;
      color: #999;
    }
  }

  .no-precincts-reporting {
    th.n-votes, td.n-votes {
      display: none;
    }

    .poll-last-updated.some-precincts-reporting {
      display: none;
    }
  }

  .some-precincts-reporting {
    th.pollster, td.pollster {
      display: none;
    }

    .poll-last-updated.no-precincts-reporting {
      display: none;
    }
  }

  .race[data-party-id=Dem] {
    .sparkline path {
      stroke: $strongDem;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongDem;
      font-weight: bold;

      .sparkline path {
        stroke: white;
        stroke-width: 6;
      }
    }
  }

  .race[data-party-id=GOP] {
    .sparkline path {
      stroke: $strongGOP;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongGOP;
      font-weight: bold;

      .sparkline path {
        stroke: white;
        stroke-width: 5;
      }
    }
  }
}
