@import '../_variables';

.race-day-nav {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  background: #f8f8f8;
  text-align: center;
  text-transform: uppercase;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }

  .calendar {
    text-align: center;
    vertical-align: middle;
  }

  .previous, .next, .calendar {
    width: 33%; // will grow
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
  }

  @media(max-width: 600px) {
    .previous, .next {
      width: 50%;
    }

    .calendar {
      display: none;
    }
  }

  a {
    display: block;
    color: $muted;
    text-decoration: none;
    &:hover {
      background: $strongDem;
      color: #fff;
    }
  }

  .label {
    display: block;
    font-size: 0.9em;
    @media (max-width: 600px) {
      font-size: 0.8em;
    }
  }

  .date {
    display: block;
    font-size: 1.4em;
    @media (max-width: 600px) {
      font-size: 1em;
    }
  }

  .previous-inner {
    box-sizing: border-box;
    padding: 18px 24px 18px 24px;
    @media (max-width: 600px) {
      padding: 10px 14px 10px 8px;
    }
  }
  .next-inner {
    box-sizing: border-box;
    padding: 18px 14px 18px 24px;
    @media (max-width: 600px) {
      padding: 10px 8px 10px 14px;
    }
  }

  .calendar a {
    padding: 18px;
    @media(max-width: 600px) {
      padding: 10px;
    }
  }

  span.disabled {
    display: block;
    color: #ccc;
  }
}
