@import '../_variables';

body.race-day {
  h1, h2, h3, p.intro-copy, p.text, .metadata p, .footnotes p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .metadata {
    margin: 20px 0 0 0;
    p {
      margin: 4px 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.parties, ul.party-state {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    li {
      box-sizing: border-box;
      display: block;
      width: 100%;
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;

      @media (min-width: 650px) {
        width: 50%;
        &:first-child {
          padding-right: 20px;
        }
        &:last-child {
          padding-left: 20px;
        }
      }
    }
  }

  li.state {
    margin-bottom: 3rem;
  }

  .no-precincts-reporting {
    th.n-votes, td.n-votes {
      display: none;
    }

    .poll-last-updated.some-precincts-reporting {
      display: none;
    }
  }

  .some-precincts-reporting {
    th.pollster, td.pollster {
      display: none;
    }

    .poll-last-updated.no-precincts-reporting {
      display: none;
    }
  }
}
