.sparkline {
  display: inline-block;

  svg {
    display: block;
    width: 3em;
    height: 1em;
    background: transparent;
  }

  path {
    stroke: black;
    stroke-width: 3;
    fill: none;
  }
}
