@import '../_variables';

.state-race-days {
  tr:hover td {
    background: aliceblue;
    .results-button {
      border-color: #999;
      color: #999;
    }
  }

  @media(max-width: 600px) {
    table {
      font-size: .85rem;
    }
  }

  td {
    border-top: 1px solid $tableBorderColor;
    vertical-align: top;
    padding: .5rem;
    &.state {
      padding-right: 0;
    }
    &.date {
      white-space: nowrap;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    &.party {
      text-align: center;
    }
    &.repeated * {
      visibility: hidden;
    }
  }

  .state-race-days-by-date td.state {
    // td.state comes before td.party, which is very thin
    padding-right: 0;
  }

  .state-race-days-by-state td.date {
    // td.date comes before td.party, which is very thin
    padding-right: 0;
  }

  .disabled-button {
    visibility: hidden;
  }

  .results-button {
    background: #fff;
    border: 1px solid #ccc;
    text-transform: uppercase;
    text-decoration: none;
    font: inherit;
    font-size: .9rem;
    display:block;
    padding: .1rem .3rem;
    color: #999;
    white-space: nowrap;
  }
  .results-button-desktop {
    @media (max-width: 600px) {
      display: none;
    }
  }
  tr.key-repeated td {
    border-top-color: transparent;
  }

  tr[data-href] {
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
  }

  .flipper>* {
    left: 0;
    top: 0;
    width: 100%;
  }

  .n-delegates-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }

  .n-delegates-int {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 1.6rem;
    padding-right: .25rem;
    text-align: right;
  }

  .n-delegates-dots {
    max-width: 10rem;
    padding: .25rem 0;
  }

  tr[data-party-id=Dem] .n-delegates-dots {
    color: $strongDem;
  }

  tr[data-party-id=GOP] .n-delegates-dots {
    color: $strongGOP;
  }

  .state-race-days-toggle {
    width: 300px;
    margin: auto;
    font-size: 0.9em;
    height: 30px;
    box-sizing: border-box;
    text-transform: uppercase;
    a {
      box-sizing: border-box;
      text-decoration: none;
      margin: 0;
      border: 1px solid #ccc;
      width: 50%;
      float: left;
      text-align: center;
      color: #ccc;
      padding: 6px 3px;
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
      &.selected {
        color: inherit;
        background: #efefef;
        border: 1px solid #666;
        color: $muted;
        &:first-child {
          border-right: 1px solid #666;
        }
        &:last-child {
          border-left: 1px solid #666;
        }
      }
    }
  }

  // https://davidwalsh.name/css-flip
  .both-tables {
    margin: 2rem 0 1rem;
    -webkit-perspective: 1000rem;
    -ms-perspective: 1000rem;
    perspective: 1000rem;
    overflow: hidden; // Otherwise the backface can push the page beyond the footer

    .flipper {
      transition: 0.5s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      position: relative;

      &.state-selected {
        transform: rotateY(180deg);
      }
    }

    .flipper>* {
      -webkit-backface-visibility: hidden; // https://trello.com/c/rONHJUbe/88-mobile-schedule-table-has-overlapping-elements-text
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }

    .flipper>:first-child {
      z-index: 2; // above back
      transform: rotateY(0deg);
    }

    .flipper>:last-child {
      // We'll eventually set the :first-child position: absolute, but that
      // only comes after we load the font. So we go like this:
      //
      // 1. Render :first-child, with :last-child absolute; browser calculates
      //    all heights.
      // 2. When font loads, change :first-child to position: absolute,
      //    read the rendered heights, and set .flipper's height.
      position: absolute;
    }
  }
}
