@import '../_variables';

.state-race-days {
  h3 {
    font-size: 1.6em;
    margin: 3.5rem auto 0;
  }

  a {
    color: #000;
  }

  @media(max-width: $widest-mobile) {
    table {
      font-size: .85rem;
    }
  }

  @media (max-width: 700px) {
    .state-name {
      display: none;
    }
  }
  @media (min-width: 700px) {
    .state-abbreviation {
      display: none;
    }
  }

  th {
    text-align: left;
    padding: .3rem .5rem;
  }

  td {
    border-top: 1px solid $tableBorderColor;
    vertical-align: middle;
    padding: .3rem .5rem;
    &.state {
      font-weight: bold;
      padding-right: 0;
      @media (max-width: $widest-mobile) {
        max-width: 7rem;
      }
    }
    &.party {
      text-align: center;
    }
    &.date-past {
      border-top: 15px solid #fff;
      background: #f8f8f8;
      white-space: nowrap;
      text-align: center;
      padding: 0;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    &.date-future {
      white-space: nowrap;
    }
    &.repeated * {
      visibility: hidden;
    }
  }

  .dot-groups-past {
    span.number {
      display: inline-block;
      width: 1.8em;
      vertical-align: middle;
      padding: .3rem 0;
    }
    span:not(.number) {
      color: #ddd;
    }
  }

  @each $slug, $color in $candidate-colors {
    td.#{$slug} span[data-candidate-slug=#{$slug}] {
      color: $color;
    }
  }

  .state-race-days-by-date td.state {
    // td.state comes before td.party, which is very thin
    padding-right: 0;
  }

  .state-race-days-by-state td.date {
    // td.date comes before td.party, which is very thin
    padding-right: 0;
  }

  .disabled-button {
    visibility: hidden;
  }

  tr.key-repeated td {
    border-top-color: transparent;
  }

  .key-repeated .date {
    visibility: hidden;
  }

  tr[data-href] {
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 650px;
    margin: 2em auto 4em;
  }

  .n-delegates-int {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 1.6rem;
    padding-right: .25rem;
    text-align: right;
  }

  .n-delegates-dots {
    max-width: 10rem;
    padding: .25rem 0;
  }

  .dot-groups-future {
    &.Dem {
      color: $weakDem;
    }
    &.GOP {
      color: $weakGOP;
    }
  }
}