@import '../../_variables';

body.race-day table.candidates {
  @include ellipsized-table;

  border-collapse: collapse;
  width: 100%;
  line-height: 1.4rem; // .n-candidates-int is smaller; keep the same line height so it (almost) lines up

  td, th {
    white-space: nowrap;
    padding: 5px 10px;
  }

  td {
    border-bottom: 1px solid #ccc;
    height: 2.25rem; // because that's the height of the <img>
  }

  th {
    border-bottom: 1px solid black;
  }

  .pollster {
    text-align: right;
  }

  td.candidate {
    text-align: left;
    position: relative;
    padding-left: 2.5rem;

    img {
      position: absolute;
      left: 10px; // padding of <td>
      top: 5px; // padding of <td>
      width: 1.5rem;
      height: 2.25rem;
    }

    padding-right: 0; // goes with .n-delegates padding-left: 0;
  }

  tr.winner td.candidate::after {
    color: inherit;
    content: '✓';
  }

  .n-delegates {
    padding-left: 0; // Every pixel counts. This column's data is thin, so we're sure this won't be ugly
  }

  .n-votes, .percent-vote {
    text-align: right;
  }

  .sparkline {
    display: inline-block;
    height: 1.2rem;
    vertical-align: middle;
  }

  .percent {
    display: inline-block;
    width: 3em;
  }

  th.n-delegates, td.n-delegates {
    padding-left: .75rem;
  }

  .n-delegates-int {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 2rem; // so it's always the same
    padding-right: .25rem;
    text-align: right;
  }

  tr.highlight-on-map td {
    //font-weight: bold;

    .sparkline path {
      stroke: white;
      stroke-width: 5;
    }
  }

  tr.highlight-on-map td.n-delegates {
    .dots {
      color: white;
      font-weight: normal; // because they're dots and they'd be janky if they resized
    }
  }
}

body.race-day .race {
  .n-delegates-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }

  .n-delegates {
    line-height: 1.4rem;

    .dots-Dem .with-candidates,
    .dots-GOP .with-candidates {
      opacity: .35;
    }

    .dots-Dem { color: $strongDem; }
    .dots-GOP { color: $strongGOP; }

    .dots {
      font-size: 1rem;
      display: inline-block;
      white-space: normal;
      line-height: .4;
      margin-top: -.25rem; // because line-height makes things weird
      padding-right: .25rem;
    }
  }

  .n-delegates-without-candidates {
    margin-top: 1.5rem;
    text-align: center;
    font-size: .8rem;

    p {
      margin: 0 10px;
      color: $muted;
      line-height: 1.3em;
    }
  }

  p.state-delegate-equivalents {
    font-size: .8rem;
    margin: .5rem 10px 1rem;
    color: $muted;
  }

  sup {
    color: $strongDem;
    vertical-align: top; // "super" puts it too high; it bumps other text down
    font-size: .7rem;
    display: inline-block;
    height: .9rem;
    line-height: .9rem;
  }
}

body.race-day .race:not(.has-delegate-counts) table.candidates .n-delegates { display: none; }

body.race-day .race.present table.candidates td,
body.race-day .race.past table.candidates td {
  cursor: pointer;
}

body.race-day .race.future {
  .n-votes, .percent-vote { display: none; }
  .poll-last-updated.some-precincts-reporting { display: none; }
}

body.race-day .race.past,
body.race-day .race.present {
  .pollster { display: none; }
  .poll-last-updated.no-precincts-reporting { display: none; }
}
