@import '../../_variables';

body.race-day table.candidates {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.4rem; // .n-candidates-int is smaller; keep the same line height so it (almost) lines up

  th {
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
  }

  td, th {
    white-space: nowrap;
    padding: 0 .5rem;
  }

  td {
    border-bottom: 1px solid #ccc;
    height: 2.25rem; // because that's the height of the <img>
    line-height: 2.25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  @each $slug, $color in $candidate-colors {
    tr[data-candidate-slug=#{$slug}] {
      td.candidate .inner {
        color: white;
        background: $color;
      }
    }
  }

  .pollster {
    text-align: right;
  }

  td.candidate {
    text-align: left;
    position: relative;
    padding: 0;

    .inner {
      border: .75rem solid white;
      border-left-width: 0;
      line-height: 1.25rem;
      padding-left: 2.5rem;
      max-width: 7rem;
      position: relative;
    }

    span {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    img {
      display: block;
      position: absolute;
      width: 1.9rem;
      height: 2.85rem;
      left: .5rem;
      top: -50%;
      margin-top: -.2rem; // looks nicer
    }

    padding-right: 0; // goes with .n-delegates padding-left: 0;
  }

  tr.winner td.candidate span::after {
    color: inherit;
    content: '✓';
  }

  .n-delegates, .n-pledged-delegates {
    padding-left: 0; // Every pixel counts. This column's data is thin, so we're sure this won't be ugly
    width: 1px;
  }

  td.n-delegates, td.n-pledged-delegates {
    text-align: right;
    padding-right: .25rem; // smaller than others
  }

  .n-votes, .percent-vote {
    text-align: right;
    width: 1px;
  }

  .sparkline {
    display: inline-block;
    height: 1.2rem;
    vertical-align: middle;
  }

  .percent {
    display: inline-block;
    width: 3em;
  }

  td.n-delegates-dots, td.n-pledged-delegates-dots {
    padding-left: 0;
    white-space: normal;
    padding-right: .5rem;
    padding-left: 0;
    line-height: 25px;
    color: $dots-with-candidates-color;
  }
}

body.race-day .race {
  span.asterisk {
    color: $strongDem;
  }

  p.n-votes-footnote, p.poll-last-updated {
    font-size: .8rem;
    margin: .5rem 10px 1rem;
    color: $muted;
  }

  sup {
    color: $strongDem;
    vertical-align: top; // "super" puts it too high; it bumps other text down
    font-size: .7rem;
    display: inline-block;
    height: .9rem;
    line-height: .9rem;
  }
}

body.race-day .race:not(.has-delegate-counts) table.candidates {
  .n-delegates, .n-delegates-dots { display: none; }
}
body.race-day .race:not(.has-pledged-delegate-counts) table.candidates {
  .n-pledged-delegates, .n-pledged-delegates-dots { display: none; }
}

body.race-day .race.no-precincts-reporting {
  .n-votes, .percent-vote { display: none; }
}

body.race-day .race.precincts-reporting table.candidates .pollster { display: none; }
