body.race-day .delegate-summary {
  .party-delegate-summaries {
    @include party-stuff-side-by-side-when-wide();
  }

  table.candidate-delegates {
    white-space: nowrap;
    border-collapse: collapse;

    th, td {
      padding: 5px 10px;
    }

    th {
      text-align: left;
      border-bottom: 1px solid black;
    }

    td {
      vertical-align: top;
      border-bottom: 1px solid #ccc;
    }

    td.candidate {
      width: 6rem;

      img {
        display: inline-block;
        height: 2rem;
        vertical-align: middle;
        padding-right: .25rem;
      }

      span {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
      }
    }

    td.n-delegates-int, td.n-pledged-delegates-int {
      width: 2rem;
      height: 2rem;
      padding-right: .25rem;
      line-height: 2rem;
      text-align: right;
    }

    td.n-delegates-dots, td.n-pledged-delegates-dots {
      width: 100%;
      padding-top: .5rem;
      white-space: normal;
    }
  }

  ul.state-delegates {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;

    li {
      padding-top: .5rem;
      width: 2.2rem;
      cursor: pointer;
    }

    .name {
      display: none;
    }

    .map {
      display: inline-block;
    }

    svg {
      width: 2.1rem;
      height: 2.1rem;
    }

    path {
      fill: #e6e6e6;
    }

    text {
      text-anchor: middle;
      alignment-baseline: middle;
      font-family: $body-font-family;
      font-weight: bold;
      font-size: 160px;
      stroke: none;
      // we'll set fill below
    }
  }

  .party-delegate-summary[data-party-id=Dem] {
    text {
      fill: $strongDem;
    }

    .n-delegates-dots, .n-pledged-delegates-dots {
      color: $strongDem;
    }
  }

  .party-delegate-summary[data-party-id=GOP] {
    text {
      fill: $strongGOP;
    }

    .n-delegates-dots, .n-pledged-delegates-dots {
      color: $strongGOP;
    }
  }

  .party-delegate-summary.state-highlighted {
    .dot-group :not(.highlight) {
      opacity: .5;
      color: $muted;
    }

    ul.state-delegates li:not(.highlight) {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: .5;
    }
  }

  p.include-unpledged-delegates {
    padding-top: .5rem;
  }
}

body.race-day.show-delegates .party-delegate-summary {
  .n-pledged-delegates-int, .n-pledged-delegates-dots { display: none; }
}
body.race-day.show-pledged-delegates .party-delegate-summary {
  .n-delegates-int, .n-delegates-dots { display: none; }
}
