body.race-day ul.other-races {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  li {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    background: #f8f8f8;
    border-radius: 1rem;
    color: #666;
    font-style: italic;
  }
}
