@import '../../_variables';

body.race-day .race {
  margin-bottom: 2rem;

  h2, h3 {
    text-align: center;
  }

  .n-delegates {
    text-align: center;
    .dots-Dem { color: $strongDem; }
    .dots-GOP { color: $strongGOP; }

    .dots {
      display: block;
    }

    .n-delegates-int, a {
      font-size: .8rem;
    }

    .n-delegates-int {
      color: $muted;
    }
  }

  .race-status {
    text-align: center;

    .status-past, .status-present, .status-future {
      display: none;
      padding: .5rem 1rem;
      margin: .5rem auto;
    }

    .status-past, .status-future {
      font-style: italic;
    }

    .status-present {
      background: $red;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  // Show the current status
  &.past .race-status .status-past,
  &.present .race-status .status-present,
  &.future .race-status .status-future { display: inline-block; }

  .race-name {
    margin: 5px 0 15px;
  }

  .party-state-map {
    position: relative;
  }

  &[data-party-id=Dem] {
    .sparkline path {
      stroke: $strongDem;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongDem;
      font-weight: bold;

      .sparkline path {
        stroke: white;
        stroke-width: 6;
      }
    }
  }

  &[data-party-id=GOP] {
    .sparkline path {
      stroke: $strongGOP;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongGOP;
      font-weight: bold;

      .sparkline path {
        stroke: white;
        stroke-width: 5;
      }
    }
  }
}
