@import '../../_variables';

.party-state-map {
  svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  path.state {
    stroke: #ddd;
    stroke-width: 10; // divided by 10
    fill: #fff;
  }

  g.counties path {
    stroke: white;
    stroke-width: 10; // divided by 10
    fill: #eee;

    &.hover {
      stroke: black;
      stroke-width: 20; // divided by 10
      fill: rgba(255, 255, 255, 0.2);
      pointer-events: none; // so it doesn't cause mouseleave
    }
  }

  g.cities {
    pointer-events: none;
  }

  circle {
    fill: black;
    stroke: white;
    stroke-width: 1px;
  }

  text {
    @include svg-city-label();
    font-size: 14px;
  }
}

.race-tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 16rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 0;
  background: white;

  a.close {
    display: none; // except when this is opened via touch
    position: absolute;
    font-weight: bold;
    color: black;
    top: 0;
    right: 0;
    line-height: 1;
    padding: .5rem 1rem;
  }
  h4 {
    font-size: 1;
    line-height: 1;
    margin: 0;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }
  table {
    box-sizing: border-box;
    margin: .5rem 1rem;
    padding: 0;
    border-collapse: collapse;
  }
  th {
    border-bottom: 1px solid #ccc;
  }
  td {
    border-top: 1px dotted #ccc;
  }
  p.precincts {
    margin: 0 1rem;
  }
  p.last-updated {
    margin: .25rem 1rem 1rem;
  }
  .candidate {
    width: 100%;
    padding-right: 5px;
  }
  .n-votes {
    text-align: right;
    padding-left: 5px;
  }
  .precincts, .last-updated {
    margin: 0;
    font-size: 0.8em;
    color: #999;
  }
}

.race-tooltip.opened-from-touch a.close {
  display: block;
}

.race[data-party-id=Dem] svg g.counties {
  path.candidate-leads {
    fill: $strongDem;
  }

  path.candidate-trails {
    fill: $undecided;
  }
}

.race[data-party-id=GOP] svg g.counties {
  path.candidate-leads {
    fill: $strongGOP;
  }

  path.candidate-trails {
    fill: $undecided;
  }
}

.race.future .party-state-map g.counties {
  display: none;
}

.race.present .party-state-map path.state,
.race.past .party-state-map path.state {
  display: none;
}
