@import '../../_variables';

.party-state-map {
  svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 22em;
    max-height: 23em;
    height: auto;
  }

  path {
    fill: none; // avoid a flash of black while loading CSS classes for counties/subcounties
  }

  path.state {
    stroke: #ddd;
    stroke-width: 3; // of 1000
    fill: #fff;
    pointer-events: none; // so it doesn't cause mouseleave
  }

  path.mesh {
    fill: none;
    stroke: #eee;
    stroke-width: 3; // of 1000
    pointer-events: none; // so it doesn't cause mouseleave
  }

  path.hover {
    stroke: black;
    stroke-width: 6; // of 1000
    fill: rgba(255, 255, 255, 0.2);
    pointer-events: none; // so it doesn't cause mouseleave
  }

  g.subcounties path {
    stroke-width: 1; // of 1000
  }

  g.cities {
    pointer-events: none;
  }

  circle {
    fill: black;
    stroke: white;
    stroke-width: 1px;
  }

  text {
    @include svg-city-label();
    font-size: 40px;
  }

  @each $slug, $color in $candidate-colors {
    path.#{$slug}-wins {
      fill: $color;
    }
  }
}

.race-tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 16rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background: white;
  z-index: 1; // the table.candidates includes positioned <img> tags

  a.close {
    display: none; // except when this is opened via touch
    position: absolute;
    font-weight: bold;
    color: black;
    top: 0;
    right: 0;
    line-height: 1;
    padding: .5rem 1rem;
  }
  h4 {
    font-size: 1;
    line-height: 1;
    margin: 0;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }
  table {
    box-sizing: border-box;
    margin: .5rem;
    padding: 0;
    border-collapse: collapse;
  }
  th, td {
    padding: .2rem .5rem;
  }
  th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
  }
  td {
    border-top: 1px dotted #ccc;
  }
  p.precincts {
    margin: 0 1rem 1rem;
  }
  .candidate {
    width: 100%;
  }
  .candidate, .n-votes {
    padding-right: 0;
  }
  .n-votes, .percent-vote {
    text-align: right;
  }
  .precincts, .last-updated {
    margin: 0;
    font-size: 0.8em;
    color: #999;
  }

  tr.highlight-on-map td {
    color: white;
  }

  p.n-votes-footnote {
    display: block;
    font-size: .8rem;
    color: $muted;
    margin: .5rem 1rem;
  }

  p.no-precincts-note {
    margin: .5rem;
    padding: 0 0.5rem;
    font-style: italic;
  }
}

.race-tooltip.opened-from-touch a.close {
  display: block;
}

.race[data-party-id=Dem] svg {
  path.candidate-wins, path.candidate-leads {
    fill: $strongDem;
  }

  path.candidate-loses, path.candidate-trails {
    fill: $undecided;
  }

  //path.candidate-leads will be changed in JS to use a <pattern>
  //path.candidate-trails will be changed in JS to use a <pattern>

  path.no-results {
    fill: white;
  }
}

.race[data-party-id=GOP] svg {
  path.candidate-wins, path.candidate-leads {
    fill: $strongGOP;
  }

  path.candidate-loses, path.candidate-trails {
    fill: $undecided;
  }

  //path.candidate-leads will be changed in JS to use a <pattern>
  //path.candidate-trails will be changed in JS to use a <pattern>

  path.no-results {
    fill: white;
  }
}

.race.no-precincts-reporting .party-state-map {
  g.counties, g.subcounties {
    display: none;
  }
}

.race.precincts-reporting .party-state-map path.state {
  stroke-width: 6; // The inner half will be hidden by county borders
  stroke: #666;
}
