@import '../../_variables';

body.race-day .race {
  padding: 2rem 0;

  h3 {
    font-size: 1.5rem;
  }

  h2, h3 {
    text-align: center;
  }

  .race-status {
    text-align: center;
    padding: .2rem 1rem 1rem;
    font-style: italic;

    .status-past, .status-present, .status-future {
      display: none;
    }

    button.refresh {
      @include refresh-button();
    }

    p {
      margin: .2rem auto;
    }

    p.text {
      font-style: normal;
      padding: 1rem 0 0;
    }
  }

  // Show the current status
  &.past .race-status .status-past,
  &.future .race-status .status-future,
  &.present .race-status .status-present { display: block; }

  .race-name {
    margin: 0;
  }

  .party-state-map {
    position: relative;
  }

  &:not(.not-today) .link-to-race-day {
    @media(min-width: $narrowest-desktop) {
      // This link appears on mobile only. On desktop, we'll show the entire
      // other race, faded.
      display: none;
    }

    margin: 0;
    padding: 2rem 1rem 0;
    color: $muted;
    text-align: center;
    font-style: italic;
  }

  &.not-today {
    @media(max-width: $widest-mobile) {
      // Hide the section entirely on mobile. We'll show a .link-to-race-day
      // within today's .race instead.
      display: none;
    }

    .link-to-race-day {
      margin: 0;
    }

    h3,
    .party-state-map,
    table.candidates,
    .poll-last-updated,
    div.n-delegates { // not td.n-delegates
      cursor: default;
      opacity: .3;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }

  &[data-party-id=Dem] {
    .sparkline path {
      stroke: $strongDem;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongDem;
    }
  }

  &[data-party-id=GOP] {
    .sparkline path {
      stroke: $strongGOP;
    }

    tr.highlight-on-map td {
      color: white;
      background: $strongGOP;
    }
  }
}
