@import '../../_variables';

.party-state-map {
  svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  path.state {
    stroke: #ddd;
    stroke-width: 10; // divided by 10
    fill: #fff;
  }

  g.counties path, g.subcounties path {
    stroke: white;
    stroke-width: 10; // divided by 10
    fill: #eee;

    &.hover {
      stroke: black;
      stroke-width: 20; // divided by 10
      fill: rgba(255, 255, 255, 0.2);
      pointer-events: none; // so it doesn't cause mouseleave
    }
  }

  g.cities {
    pointer-events: none;
  }

  circle {
    fill: black;
    stroke: white;
    stroke-width: 1px;
  }

  text {
    @include svg-city-label();
    font-size: 14px;
  }
}

.race-tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 16rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background: white;
  z-index: 1; // the table.candidates includes positioned <img> tags

  a.close {
    display: none; // except when this is opened via touch
    position: absolute;
    font-weight: bold;
    color: black;
    top: 0;
    right: 0;
    line-height: 1;
    padding: .5rem 1rem;
  }
  h4 {
    font-size: 1;
    line-height: 1;
    margin: 0;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }
  table {
    box-sizing: border-box;
    margin: .5rem;
    padding: 0;
    border-collapse: collapse;
  }
  th, td {
    padding: .2rem .5rem;
  }
  th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
  }
  td {
    border-top: 1px dotted #ccc;
  }
  p.precincts {
    margin: 0 1rem 1rem;
  }
  .candidate {
    width: 100%;
  }
  .candidate, .n-votes {
    padding-right: 0;
  }
  .n-votes, .percent-vote {
    text-align: right;
  }
  .precincts, .last-updated {
    margin: 0;
    font-size: 0.8em;
    color: #999;
  }

  tr.highlight-on-map td {
    color: white;
  }

  .n-state-delegate-equivalents { display: none; }
  &.is-state-delegate-equivalents {
    th.n-votes { display: none; }
    th.n-state-delegate-equivalents { display: table-cell; }
    p.n-state-delegate-equivalents {
      display: block;
      font-size: .8rem;
      color: $muted;
      margin: .5rem 1rem;
    }
  }
}

.race-tooltip.opened-from-touch a.close {
  display: block;
}

.race[data-party-id=Dem] svg {
  g.counties, g.subcounties {
    path.candidate-leads {
      fill: $strongDem;
    }

    path.candidate-trails {
      fill: $undecided;
    }
  }
}

.race[data-party-id=GOP] svg {
  g.counties, g.subcounties {
    path.candidate-leads {
      fill: $strongGOP;
    }

    path.candidate-trails {
      fill: $undecided;
    }
  }
}

.race.future .party-state-map {
  g.counties, g.subcounties {
    display: none;
  }
}

.race.present .party-state-map path.state,
.race.past .party-state-map path.state {
  display: none;
}
