@import '../../_variables';

.race-map-legend {
  font-size: .9rem;
  line-height: 1rem;
  height: 1rem;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;

  &>* {
    display: none;
    padding: .5rem .5rem 0;
  }

  &.has-candidate-wins .candidate-wins,
  &.has-candidate-leads .candidate-leads,
  &.has-candidate-trails .candidate-trails,
  &.has-candidate-loses .candidate-loses,
  &.has-no-results .no-results {
    display: -webkit-flex;
    display: flex;
    height: 1rem;
  }

  .swatch {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
    margin-bottom: -.15rem; // drop below the baseline
  }

  .label {
    display: block;
  }

  .no-results .swatch {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><rect x="0" y="0" width="5" height="5" fill="%23ddd"/><path d="M-.5,-.5L.5,-.5M-.5,5.5L5.5,-.5M4.5,5.5L5.5,4.5" stroke-width="1" stroke="%23fff"/></svg>');
  }

  .candidate-trails .swatch {
    background: $undecided;
  }

  &[data-party-id=Dem] .candidate-leads .swatch {
    background: $strongDem;
  }

  &[data-party-id=GOP] .candidate-leads .swatch {
    background: $strongGOP;
  }
}
