%ul.legend
  %li.when-precincts-reporting
    %span.swatch.leading
    %span.name= leader_name
    leads
  %li.when-precincts-reporting
    %span.swatch.trailing
    %span.name= leader_name
    trails
  %li
    %span.swatch.no-results
    No results
