%ul.legend.when-precincts-reporting
  %li
    %span.swatch.leading
    %span.name= leader_name
    leads
  %li
    %span.swatch.trailing
    %span.name= leader_name
    trails
  %li
    %span.swatch.no-results
    No results
