.t-pollster.democratic
  %h4.party-hed Democratic Party
  %table
    %thead
      %tr
        %th{colspan: "2"}
          Candidate
        %th.pollster
          Pollster average
    %tbody
      - dem_candidates.each do |cd|
        - if cd.poll_percent
          %tr.dem-candidate
            %td.cd-img
              %img{src: "images/#{cd.slug}.png", alt: ''}
            %td.cd-name= cd.full_name
            %td.pollster= "#{cd.poll_percent}%"
