.t-pollster.republican
  %h4.party-hed Republican Party
  %table
    %thead
      %tr
        %th{colspan: "2"}
          Candidate
        %th.pollster
          Pollster average
    %tbody
      - gop_candidates.each do |cd|
        - if cd.poll_percent
          %tr.rep-candidate
            %td.cd-img
              %img{src: image_path("#{cd.slug}.png"), alt: ''}
            %td.cd-name= cd.full_name
            %td.pollster= "#{cd.poll_percent}%"
