.horse-races
  %p.description
    Each candidate tries to earn
    %span.delegates-legend< delegates
    before the party conventions in July. Delegates choose the presidential
    nominees.

  %p.description
    A candidate who earns
    %span.finish-line-legend< half the party's delegates
    is the presumptive nominee.

  - parties.each do |party|
    .horse-race-wrapper
      %h3
        %span= party.name
        %button.play{'data-party-id': party.id}
          -# All CSS

      != render(partial: 'horse-race', locals: { party: party, with_animation: true })
