.social-buttons
  %a.facebook-share{'target': '_blank'}
    %span.btn-social.btn-facebook
      Share on Facebook
  %a.twitter-share{'target': '_blank'}
    %span.btn-social.btn-twitter
      Share on Twitter
