.social-buttons
  %a.facebook-share{'target': '_blank'}
    %span.btn-social.btn-facebook
      %img{src: image_path('facebook.svg')}
      Share on Facebook
  %a.twitter-share{'target': '_blank'}
    %span.btn-social.btn-twitter
      %img{src: image_path('twitter.svg')}
      Share on Twitter
