.state-race-days
  != render(partial: 'state-race-days-past')

  %h2.with-share-link
    %a.share-link{name: 'calendar', href: '#calendar'}
    What&rsquo;s Next?

  != render(partial: 'state-race-days-future')
