%div.branding
  %a{href: '//huffingtonpost.com'}
    %img.logo.logo__topbar--desktop{src: image_path('hplogo.svg'), alt: 'The Huffington Post'}
    %img.logo.logo__topbar--mobile{src: image_path('hplogo-short.svg'), alt: 'The Huffington Post'}
  %a{href: '/2016/primaries'}
    %span.election-banner
      %span.blue Election
      %span.red 2016