.topbar
  %a{href: '//huffingtonpost.com'}
    %img.logo__topbar--desktop{src: '/2016/images/huffpost-logo-white.png', alt: ''}
    %img.logo__topbar--mobile{src: '/2016/images/hplogo-white-short.svg', alt: ''}
