.topbar
  %a{href: '//huffingtonpost.com'}
    %img.logo__topbar--desktop{src: image_path('huffpost-logo-white.png'), alt: 'The Huffington Post'}
    %img.logo__topbar--mobile{src: image_path('hplogo-white-short.svg'), alt: 'The Huffington Post'}
