-# Called with a AllPrimariesPageGenerator::HtmlContext
!!! 5
%html{lang: 'en'}
  %head
    %title Presidential Primary Races
    %link{rel: 'stylesheet', href: asset_path('main.css')}
  %body.all-primaries
    != render(partial: 'topbar')

    #main
      %h1 Presidential Primary Races

      != render(partial: 'delegate-bars')
      != render(partial: 'calendar')

      %svg#main-map

    %script{src: asset_path('stats.js')}
    %script{src: asset_path('main.js')}
