!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Huffington Post 2016 Primaries Results Right Rail
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('primaries-right-rail.css')}
  %body{class: "race-day-#{race_day.when_race_day_happens}"}
    .header
      .line
      .hed
        %h1.when-race-day-present Live Results
        %h1.when-race-day-past Results
        %h1.when-race-day-future Happening Soon
      .line
    - if race_day.races.length < 4
      != render(partial: '/primaries/right-rail/few-races', locals: { race_day: race_day })
    - else
      != render(partial: '/primaries/right-rail/many-races', locals: { race_day: race_day })
